<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}"> <!-- Aplica el mismo estilo -->
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}">
            <div class="logo">DRIVE GUARDIAN</div>
        </a>
    </header>
    <main>
        <h2>Formulario de Feedback</h2>
        <div>  <!-- El contenedor más externo centra el contenido -->  <!-- El contenedor anidado permite desplazamiento -->
            <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSeMTZtvJQJHAiSpZ8NE8bNufdquP5Z_LBNieSenzpdC7w8mHA/viewform?usp=sf_link"
                    width="100%"
                    height="500px"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </div>

    </main>
</body>
</html>
